In [1]:
# Tuple
tup = 4, 5, 6

tup

(4, 5, 6)

In [3]:
nested_tup = (4,5,6), (7,8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [8]:
tup = tuple(['foo', [1,2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

In [13]:
(4, None, 'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [16]:
tup = 4, 5, 6
a, b, c = tup
b

5

In [17]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [19]:
a,b = 1, 2
a

1

In [20]:
b, a = a, b
a

2

In [21]:
seq = [ (1,2,3), (4,5,6), (7,8,9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [22]:
values = 1,2,3,4,5

a, b, *rest = values

rest

[3, 4, 5]

In [24]:
a, b, *_ = values # convention to use _ for discarded variables

_

[3, 4, 5]

In [25]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [28]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)

b_list
['foo','bar','baz']

b_list[1] = 'peekaboo'

In [29]:
b_list

['foo', 'peekaboo', 'baz']

In [30]:
gen = range(10)

gen

range(0, 10)

In [32]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'dwarf']

In [35]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf']

In [36]:
b_list.pop(2)

'peekaboo'

In [37]:
b_list

['foo', 'red', 'baz', 'dwarf', 'dwarf']

In [38]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'dwarf', 'foo']

In [39]:
b_list.remove('foo')

b_list

['red', 'baz', 'dwarf', 'dwarf', 'foo']

In [40]:
'dwarf' in b_list

True

In [41]:
'dwarf' not in b_list

False

In [42]:
[4, None, 'foo'] + [7, 8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
x = [4, None, 'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [48]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [50]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [52]:
import bisect

c = [1,2,2,2,3,4,7]

bisect.bisect(c,2)
4

4

In [54]:
bisect.bisect(c,5)
6

6

In [55]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [56]:
seq = [7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [58]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 3, 5, 6, 0, 1]

In [59]:
seq[:5]

[7, 2, 3, 6, 3]

In [60]:
seq[:3]

[7, 2, 3]

In [61]:
seq[3:]

[6, 3, 3, 5, 6, 0, 1]

In [62]:
seq[-4:]

[5, 6, 0, 1]

In [63]:
seq[-6:-2]

[3, 3, 5, 6]

In [65]:
seq[::2]

[7, 3, 3, 5, 0]

In [66]:
seq[::-1]

[1, 0, 6, 5, 3, 3, 6, 3, 2, 7]

In [67]:
some_list = ['foo','bar','baz']
mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i
    
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

In [68]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [69]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [70]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one','two', 'three']

zipped = zip(seq1,seq2)

zipped

In [71]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [72]:
seq3 = [False, True]

list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [73]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [75]:
pitchers = [('Noland', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first_names, last_names = zip(*pitchers)

In [76]:
first_names

('Noland', 'Roger', 'Schilling')

In [77]:
last_names

('Ryan', 'Clemens', 'Curt')

In [78]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [80]:
empty_dict = {}

d1 = { 'a' : 'some value', 'b': [1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [81]:
d1[7] = 'an integer'

In [82]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [83]:
d1['b']

[1, 2, 3, 4]

In [85]:
'b' in d1

True

In [86]:
d1[5] = 'some value'

In [87]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [88]:
d1['dummy'] = 'another value'

In [89]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [91]:
mapping = {}

key_list, value_list = zip(range(5)), reversed(range(5))
for key, value in zip(key_list, value_list):
    mapping[key] = value
    
mapping

{(0,): 4, (1,): 3, (2,): 2, (3,): 1, (4,): 0}

In [95]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [112]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [115]:
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [118]:
from collections import defaultdict

by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [119]:
hash('string')

9027116746714656149

In [120]:
hash((1,2,(2,3)))

1097636502276347782

In [122]:
has((1,2, [2, 3])) # failes, must be immutable

NameError: name 'has' is not defined

In [123]:
d = {}

d[tuple([1,2,3])] = 5

d

{(1, 2, 3): 5}

In [124]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [125]:
{2,2,2,1,3,3}

{1, 2, 3}

In [128]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [129]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [130]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [131]:
a.intersection(b)

{3, 4, 5}

In [132]:
a & b

{3, 4, 5}

In [135]:
c = a.copy()

c |= b

c

{1, 2, 3, 4, 5, 6, 7, 8}

In [136]:
d = a.copy()

d &= b

d

{3, 4, 5}

In [137]:
my_data = [1,2,3,4]
my_set = { tuple(my_data) }

my_set

{(1, 2, 3, 4)}

In [138]:
a_set = {1, 2, 3, 4, 5}

{1,2,3}.issubset(a_set)

True

In [139]:
a_set.issuperset({1, 2, 3})

True

In [141]:
{1,2,3} == {3,2,1}

True

In [143]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [144]:
unique_lengths = { len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [145]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [147]:
loc_mapping = { val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [158]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [names for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

names_of_interest

[['John', 'Emily', 'Michael', 'Mary', 'Steven']]

In [157]:
result = [name for names in all_data for name in names
         if name.count('e') >= 2]

result

['Steven']

In [159]:
some_tuples = [(1,2,3), (4,5,6), (7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [161]:
def my_function( x, y, z = 1.5):
    if z > 1:
        return z * ( x + y )
    else:
        return z / ( x + y )

In [162]:
my_function(5,6, z = 0.7)

0.06363636363636363

In [163]:
my_function( x = 5, y = 6, z = 7)

77

In [165]:
my_function( y = 6, x = 5, z = 7)

77

In [174]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [175]:
func()
a

[0, 1, 2, 3, 4]

In [172]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [173]:
func()
a

[0, 1, 2, 3, 4]

In [177]:
a = None

def bind_a_variable():
    global a
    a = []
    
bind_a_variable()
print(a)

[]

In [178]:
def f():
    a = 5
    b = 6
    c = 7
    
    return a, b, c

a, b, c = f()

In [179]:
return_value = f()

In [180]:
def f():
    a = 5
    b = 6
    c = 7
    return { 'a' : a, 'b' : b, 'c' : c }

f()

{'a': 5, 'b': 6, 'c': 7}

In [184]:
states = ['    Alabama  ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
         'south    carolina##', 'West virginia?']

In [187]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [188]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [189]:
def remove_puncuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_puncuation, str.title]

def clean_strings( strings, ops ):
    result = []
    for value in strings:
        for function in ops:
            value = function( value )
        result.append(value)
    return result

In [190]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [191]:
for x in map(remove_puncuation, states):
    print(x)

    Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [192]:
def short_function(x):
    return x * 2

In [193]:
equiv_anon = lambda x: x * 2

In [195]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [196]:
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [197]:
strings = ['foo', 'card', 'bar', 'aaa', 'abab']
strings.sort( key = lambda x: len(set(list(x))))
strings

['aaa', 'foo', 'abab', 'bar', 'card']

In [199]:
def add_numbers( x,y ):
    return x + y

In [202]:
add_five = lambda y: add_numbers( 5, y)

In [206]:
add_five(2)

7

In [208]:
from functools import partial

add_five = partial(add_numbers, 5)

some_dict = {'a' : 1, 'b' : 2, 'c' : 3}

for key in some_dict:
    print(key)

a
b
c

In [214]:
dict_iterator = iter(some_dict)

In [215]:
list( dict_iterator )

['a', 'b', 'c']

In [221]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2
        
gen = squares()
gen

In [222]:
list(gen)

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [223]:
gen = ( x ** 2 for x in range(100))
gen

In [224]:
def _make_gen():
    for x in range(100):
        yield x ** 2
        
gen = _make_gen()

In [227]:
sum( x ** 2 for x in range(100))

328350

In [229]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [233]:
import itertools

first_letter = lambda x : x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby( names, first_letter ):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [235]:
float('1.2345')

1.2345

In [236]:
float('something')

ValueError: could not convert string to float: 'something'

In [238]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [240]:
attempt_float('1.2345')

1.2345

In [241]:
attempt_float('something')

'something'

In [244]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in strings)